@font-face {
    font-family: Roboto;
    src: url("../font/Roboto-Black.ttf") format("truetype"),
    url("../font/Roboto-Black.eot") format("embedded-opentype"),
    url("../font/Roboto-Black.woff") format("woff"),
    url("../font/Roboto-Black.woff2") format("woff2");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: Roboto;
    src: url("../font/RobotoMedium.ttf") format("truetype"),
    url("../font/RobotoMedium.eot") format("embedded-opentype"),
    url("../font/RobotoMedium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url("../font/RobotoRegular.ttf") format("truetype"),
    url("../font/RobotoRegular.eot") format("embedded-opentype"),
    url("../font/RobotoRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: Roboto;
    src: url("../font/RobotoLight.ttf") format("truetype"),
    url("../font/RobotoLight.eot") format("embedded-opentype"),
    url("../font/RobotoLight.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}






html, body {
    background-color: #ffffff;
}
button {
    cursor: pointer;
    padding: 0;
    outline: none;
}
a:hover {
    cursor: pointer;
}
h2 {
    font-family: Roboto, sans-serif;
    font-size: 38.3px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}


.container {
    width: 1155px;
    margin-right: auto;
    margin-left: auto;
}



header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #ffffff;
    z-index: 100000;
}
header .top-row {
    padding: 10px 0 5px;
}
header .top-row .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .bot-row .wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
header .top-row .green-text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.68;
    letter-spacing: normal;
    color: #849c0c;
    text-transform: uppercase;
}
header .top-row .call-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -30px;
}
.call-block .ask-btn {
    border: none;
    background-color: transparent;
    margin-bottom: 10px;
}
.call-block .text {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    border-bottom: 1px dashed #849c0c;
    color: #849c0c;
}
.call-block .number {
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.75;
    letter-spacing: normal;
    text-align: center;
    color: #565655;
    display: block;
}
header .bot-row {
    height: 55px;
    border-top: 1px solid #d7d9dc;
    border-bottom: 1px solid #d7d9dc;
}
.nav {
    display: flex;
}
.nav>li {
    margin: 0 15px;
}
.nav>li>a {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.78;
    letter-spacing: normal;
    text-align: center;
    color: #565655;
    padding: 10px 10px 10px 5px;
    text-transform: uppercase;
}
.nav>li.dropdown {
    position: relative;
}
.nav>li.dropdown:after {
    content: '';
    background-image: url("../img/nav-arrow.png");
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 6px;
    cursor: pointer;
}
.s-list {
    display: flex;
    align-items: center;
    margin-left: 65px;
}
.s-list>li>a {
    width: 33px;
    height: 33px;
    background-color: transparent;
    border: 1px solid #464646;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    transition: .3s;
}
.s-list>li>a .color {
    display: none;
}
.s-list>li>a:hover {
    background-color: #849c0c;
    border-color: #849c0c;
}
.s-list>li>a:hover .no-color {
     display: none;
 }
.s-list>li>a:hover .color {
    display: block;
}
.s-list>li.inst>a>img {
    margin-right: -2px;
}
.header-padding {
    padding-top: 150px;
}
.main-block {
    margin-top: 60px;
    height: 700px;
    background-position: center;
    background-size: cover;
}
.welcome-block {
    padding: 70px 0 60px;
}
.welcome-block .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.welcome-block h2 {
    margin-bottom: 70px;
}
.welcome-block .sub-title {
    max-width: 850px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: center;
    color: #504f53;
    margin-bottom: 40px;
}
.welcome-block .img {
    margin-bottom: 64px;
}
.welcome-list {
    display: flex;
}
.welcome-list .number {
    font-family: Roboto, sans-serif;
    font-size: 53.9px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #a0b25b;
    display: block;
}
.welcome-list>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
}
.welcome-list .text {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: center;
    color: #504f53;
}
.extras-block {
    padding: 60px 0 30px;
}
.extras-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.extras-list>li {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.extras-list>li img {
    width: 110px;
    height: 110px;
}
.extras-list .text {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3d3c3c;
    text-transform: uppercase;
    margin-top: 20px;
}
.gallery-block {
    padding: 40px 0 70px;
}
.gallery-block h2 {
    margin-bottom: 100px;
}
.gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.gallery-wrapper .box {
    width: calc(25% - 11px);
    display: flex;
    margin-bottom: 14px;
    height: 250px;
    position: relative;
}
.gallery-wrapper .box .title-box {
    background: linear-gradient(rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0.71));
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.gallery-wrapper .box .text {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}
.gallery-wrapper .box .title-box .date {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    display: block;
    margin-top: 20px;
}
.gallery-wrapper .box .title-box {
    opacity: 0;
    height: 0;
    transition: .3s;
}
.gallery-wrapper .box:hover .title-box {
    opacity: 1;
    height: 100%;
}
.gallery-wrapper .box.big {
    width: calc(50% - 6px);
}
.gallery-wrapper .box img {
    object-fit: cover;
    width: 100%;
}
.helpful-block {
    margin-top: 60px;
    background-color: #f7f7f7;
    padding: 60px 0;
    border-top: 1px solid #d7d9dc;
    border-bottom: 1px solid #d7d9dc;
}
.helpful-block .heading-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.helpful-block h3 {
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.64;
    letter-spacing: normal;
    text-align: center;
    color: #504f53;
    text-transform: uppercase;
}
.helpful-block .more {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #849c0c;
}
.help-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.help-wrapper .box {
    width: calc(100% / 3 - 20px);
}
.help-wrapper .img {
    width: 100%;
    position: relative;
}
.help-wrapper .img .title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 20px;
    width: 79px;
    height: 20px;
    padding-top: 2px;
    background-color: #849c08;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
.help-wrapper .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
}
.help-wrapper .info {
    background-color: #ffffff;
    width: 100%;
    padding: 18px 25px 20px;
    border: 1px solid #d7d9dc;
    border-top: none;
}
.help-wrapper .info .date {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #504f53;
    display: flex;
    margin-bottom: 15px;
}
.help-wrapper .info .title {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #504f53;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    margin-bottom: 10px;
    height: 35px;
    overflow: hidden;
}
.help-wrapper .info .text {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #6f7377;
    height: 45px;
    overflow: hidden;
}
.clients-block {
    padding: 70px 0 120px;
}
.clients-block h2 {
    margin-bottom: 10px;
}
.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.clients-list>li {
    width: calc(25% - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}
.typography-block {
    padding: 88px 0 30px;
}
.typography-block h2 {
    margin-bottom: 100px;
}
.typography-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.typography-slider .left-arrow {
    position: absolute;
    width: 50px;
    height: auto;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.41);
    border: none;
    padding-top: 10px;
}
.typography-slider .right-arrow {
    position: absolute;
    width: 50px;
    height: auto;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.41);
    border: none;
    padding-top: 10px;
}
.typography-slider .right-arrow img,
.typography-slider .left-arrow img {
    width: 100%;
    height: auto;
}
.typography-slider .slide {
    position: relative;
    width: 380px;
    height: 252px;
    padding: 0 3px;
}
.typography-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.typography-slider .title-box {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    width: 220px;
    height: 50px;
    background-color: #545454;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 18px;
    position: absolute;
    left: 3px;
    bottom: 19px;
}


.portfolio-title {
    background: #859c0d;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    font-stretch: normal;
    font-style: normal;
    color: #FFF;
    padding: 50px 0 35px 0;
    margin-top: 35px;
}
.portfolio-title h1, .portfolio-title h2 {
    font-family: Roboto, sans-serif;
    font-size: 26px;
    font-weight: lighter;
    font-stretch: normal;
    font-style: normal;
    color: #FFF;
}
.portfolio-title h2 {
    padding-bottom: 15px;
}

.portfolio-icons .extras-list {
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;
}
.portfolio-icons .extras-list>li {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.portfolio-icons .extras-list>li img {
    width: 110px;
    height: 110px;
}
.portfolio-pics img {
    padding-bottom: 45px;
}
.portfolio-pics img:last-child {
    padding-bottom: 0px;
}

.footer {
    padding: 30px 0 90px;
}
.ask-block {
    background-image: url("../img/green-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 45px;
}
.ask-block .wrapper {
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ask-wrapper {
    display: flex;
    align-items: center;
}
.ask-wrapper .info {
    max-width: 410px;
    margin-left: 14px;
}
.ask-wrapper .title {
    font-family: Roboto, sans-serif;
    font-size: 19.8px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.55;
    letter-spacing: normal;
    text-align: left;
    color: #f7f7f7;
    margin-bottom: 9px;
    display: flex;
}
.ask-wrapper .text {
    font-family: Roboto, sans-serif;
    font-size: 9px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #f7f7f7;
    display: flex;
}
.ask-wrapper .ask-btn-border {
    margin-left: 30px;
    width: 125px;
    height: 40px;
    border: 1px solid #ffffff;
    background: transparent;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -15px;
}
.contacts-block {
    padding: 90px 0;
}
.contacts-block h2 {
    margin-bottom: 100px;
}
.contacts-block .company-name {
    font-family: Roboto, sans-serif;
    font-size: 25.5px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.71;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-bottom: 50px;
}
.contacts-block .address {
    font-family: Roboto, sans-serif;
    font-size: 19.8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom: 50px;
    max-width: 300px;
}
.contacts-block .card-link {
    font-family: Roboto, sans-serif;
    font-size: 19.8px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    border-bottom: 1px solid #000000;
}
.contacts-wrapper {
    display: flex;
}
.contacts-wrapper .left {
    width: calc(45% - 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
}
.contacts-wrapper .right {
    width: calc(55% - 20px);
}
.contacts-wrapper .right .map-box {
    width: 660px;
    height: 400px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
}
.popup {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 100000;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    padding: 100px 0;
    /*min-height: 700px;*/
    overflow: auto;
    max-height: 100%;
}
.popup .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 500px;
}
.close {
    font-size: 60px;
    position: absolute;
    width: 80px;
    height: 80px;
    right: 0;
    top: 0;
    background: transparent;
    border: none;
}
.ask-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.ask-form .input {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 40px;
    outline: none;
    border: 1px solid rgba(84, 84, 84, 0.1);
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.ask-form .input.textarea {
    padding-top: 10px;
    height: 100px;
    resize: none;
}
.ask-form label {
    margin-bottom: 5px;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}
.ask-form .apply-btn {
    border: 1px solid rgba(84, 84, 84, 0.1);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    background-color: #849c08;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}


/* USEFULL INFO */

.usefull_text .container {
    padding-top: 25px;
    padding-bottom: 25px;
}
.usefull_text_full {
    padding: 50px 0;
}
.usefull_text h1 {
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-weight: lighter;
    font-stretch: normal;
    font-style: normal;
    padding-bottom: 18px;
}
.usefull_text p {
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: thin;
    font-stretch: normal;
    font-style: normal;
    line-height: 25px;
    padding-bottom: 25px;
}
.usefull_text p:last-child {
    padding-bottom: 0px;
}
.usefull_text h2 {
    font-family: Roboto, sans-serif;
    font-size: 32px;
    font-weight: lighter;
    font-stretch: normal;
    font-style: normal;
    padding-bottom: 50px;
    text-align: center;
    line-height: 40px;
}
.column {
    columns: 330px 2;
    column-gap: 130px;
}
.usefull_text img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto; 
    padding: 30px 0 80px 0;
}
.usefull_text img:last-child {
    padding: 50px 0 0px 0;
}









@media screen and (max-width: 1239px) {
    .container {
        width: 870px;
    }
    header {
        position: relative;
    }
    header .bot-row {
        border-bottom: none;
        height: 100%;
        padding-top: 100px;
        padding-bottom: 10px;
    }
    .header-padding {
        padding: 0;
    }
    header .bot-row .wrapper {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .nav {
        flex-direction: column;
    }
    .s-list {
        display: none;
    }
    header .top-row {
        display: none;
    }
    .nav>li.dropdown:after {
        display: none;
    }
    .nav>li {
        text-align: center;
        margin-bottom: 80px;
    }
    .nav>li>a {
        font-size: 34px;
        font-family: Roboto, sans-serif;
        line-height: 0.529;
        color: #000000;
        font-weight: 400;
    }
    .main-block {
        margin-top: 0;
        height: 1000px;
        background-repeat: no-repeat;
        background-image: url("../img/main-mob.jpg");
    }
    .extras-list .text {
        font-size: 28px;
        font-weight: 500;
    }
    .extras-list {
        justify-content: space-around;
    }
    .extras-list>li {
        width: calc(100% / 3 - 20px);
    }
    .extras-list>li img {
        width: 200px;
        height: 200px;
    }
    .extras-block {
        padding-bottom: 10px;
    }
    .gallery-block {
        padding: 100px 0 80px;
    }
    .gallery-wrapper .box {
        width: calc(50% - 14px);
        margin-bottom: 28px;
        height: 375px;
    }
    .gallery-wrapper .box.big {
        width: 100%;
    }
    .helpful-block {
        display: none;
    }
    .clients-list>li {
        width: calc(100% / 3 - 10px);
    }
    .footer {
        padding: 100px 0 300px;
    }
    .ask-block {
        background-image: url("../img/green-bg-m.jpg");
        margin-bottom: 90px;
    }
    .ask-wrapper .title {
        font-size: 22px;
    }
    .ask-wrapper .text {
        font-size: 10px;
    }
    .ask-wrapper .info {
        max-width: 450px;
    }
    .contacts-block {
        padding-top: 70px;
    }
    h2 {
        font-weight: 500;
    }
    .welcome-block h2 {
        font-weight: 900;
    }
    .clients-block {
        padding-top: 45px;
        padding-bottom: 70px;
    }
    .clients-block h2 {
        margin-bottom: 20px;
    }
    .typography-block {
        padding: 60px 0 0;
    }
    .typography-block h2 {
        margin-bottom: 80px;
    }
    .ask-wrapper img {
        width: 70px;
        height: auto;
        margin-right: 10px;
    }
    .ask-wrapper .title {
        margin-bottom: 20px;
    }
    .ask-wrapper .ask-btn-border {
        height: 60px;
        width: 188px;
        font-size: 20px;
        margin-left: 50px;
    }
    .contacts-block {
        padding-top: 60px;
    }
    .contacts-block h2 {
        margin-bottom: 60px;
    }
    .contacts-wrapper {
        flex-direction: column;
        padding-left: 130px;
    }
    .contacts-wrapper .left {
        width: 100%;
        margin-bottom: 60px;
    }
    .contacts-block .company-name {
        font-weight: 500;
    }
    .contacts-block .address {
        font-size: 19px;
    }

}


@media screen and (max-width: 900px) {
    .container {
        width: 98%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .main-block {
        height: 300px;
        background-size: contain;
    }
    .nav>li>a {
        font-size: 14px;
    }
    .nav>li {
        margin-bottom: 30px;
    }
    header .bot-row {
        padding: 40px 0 10px;
    }
    .welcome-list {
        flex-direction: column;
    }
    .welcome-list>li {
        margin-bottom: 35px;
    }
    .extras-list>li img {
        width: 100px;
        height: auto;
    }
    .extras-list>li {
        width: 100%;
    }
    .extras-list .text {
        font-size: 18px;
    }
    .clients-list>li {
        width: 100%;
        height: 100px;
    }
    .footer {
        padding-bottom: 30px;
    }
    .contacts-block {
        padding-bottom: 20px;
    }
    .contacts-wrapper .right .map-box {
        width: 100%;
    }
    .contacts-wrapper .left {
        padding-left: 30px;
    }
    .contacts-wrapper .right {
        width: 100%;
    }
    .map-frame {
        width: 100%;
    }
    .contacts-wrapper {
        padding-left: 0;
    }
    .ask-wrapper {
        flex-direction: column;
    }
    .ask-block .wrapper {
        height: auto;
        padding: 30px 40px;
    }
    .ask-wrapper img {
        margin-bottom: 20px;
        width: 50px;
        height: auto;
        margin-right: auto;
    }
    .ask-wrapper .info {
        max-width: 100%;
        margin-left: 0;
    }
    .ask-wrapper .ask-btn-border {
        margin: 30px auto 20px 0;
    }
    .welcome-block h2 {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .welcome-block .sub-title {
        font-size: 14px;
    }
    .ask-wrapper .title {
        line-height: 1.2;
    }
    .ask-form {
        padding: 40px 10px;
        width: 100%;
        height: 100%;
    }
    .close {
        width: 50px;
        height: 50px;
        font-size: 42px;
    }

}


@media screen and (max-width: 640px) {

    .main-block {
       height: 200px;
       background-size: contain;
       margin-bottom: -20px;
    }

    .gallery-wrapper .box {
        height: 150px;
        margin-bottom: 6px;
        width: calc(50% - 3px);
    }
    .gallery-wrapper .box.big {
        width: 100%;
    }
    .contacts-wrapper .left {
        padding-left: 0;
    }
    .contacts-block .company-name {
        font-size: 20px;
    }
    .typography-slider .slide {
        width: 320px;
    }
    
    .portfolio-icons .extras-list>li {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    .portfolio-icons .extras-list>li img {
        width: 100px;
        height: 100px;
    }
    .portfolio-pics img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    

}































