body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	background-color:#FFFFFF;
	}


/* new Styles */	
.boxcolor2016 .header {
	height: 270px;
	width: 1000px;
	margin: 0 auto;
	position: relative;
	background: url('../img/topPic.png') left 23px no-repeat;
position: relative;
left: -20px;
}
.boxcolor2016 .header a.logo {
        position: absolute;
        z-index: 2;
        top: 40px;
        left: 0;
display: block;
width: 300px;
height: 100px;
}
.boxcolor2016 .top-links {
	position: absolute;
	top: 17px;
	left: 134px;
	font-size: 14px;
	color: #20201e;
}
.boxcolor2016 .top-links a {
	color: #20201e;
	margin: 0 16px 0 0;
}
.boxcolor2016 .header .slogan {
	position: absolute;
	top: 17px;
	right: 0;
	text-transform: uppercase;
	color: #c40079;
	font-size: 14px;
}
.boxcolor2016 .header a.get-order {
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	width: 208px;
	height: 56px;
	background: url('../img/getOrder.png') center no-repeat;
}
.boxcolor2016 .header .info {
	position: absolute;
	bottom: 3px;
	right: 220px;
	text-align: right;
	font-weight: bold;
	text-transform: uppercase;
}
.boxcolor2016 .header .info p {
	font-size: 14px;
	color: #c40079;
	margin: 0 0 -1px 0;
}
.boxcolor2016 .header .info p:first-child {
	color: #009de0;
}
.boxcolor2016 .header .info p:last-child {
	color: #20201e;
}
.boxcolor2016 .header ul.phones {
	position: absolute;
	bottom: 3px;
	left: 134px;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
.boxcolor2016 .header .phones li {
	margin: 0 0 1px 0;
}
.boxcolor2016 .header .phones li:first-child {
	font-size: 12px;
}
.boxcolor2016 .header .phones li:last-child {
	margin: -2px 0 0 0;
}
.boxcolor2016 .header .phones a.call-back {
	color: #c40079;
	font-size: 14px;
	text-decoration: underline;
}
.boxcolor2016 .header .phones a.call-phone {
        font-size: 16px;
        color: #000;
}
.boxcolor2016 .header .phones a span {
	font-weight: bold;
}
.boxcolor2016 .header ul.social-links {
	position: absolute;
	bottom: 18px;
	left: 334px;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
.boxcolor2016 .header .social-links li {
	position: relative;
	margin: 0 0 1px 0;
}
.boxcolor2016 .header .social-links li:before {
	content: '';
	display: block;
	width: 21px;
	height: 17px;
	background: url('../img/social-buttons.jpg') no-repeat;
	position: absolute;
	left: -25px;
}
.boxcolor2016 .header .social-links li:nth-child(1):before {
	background: url('../img/social-buttons.jpg') left top;
	top: 1px;
	left: -23px;
}
.boxcolor2016 .header .social-links li:nth-child(2):before {
	background: url('../img/social-buttons.jpg') -23px top;
	top: 2px;
	left: -21px;
}
.boxcolor2016 .header .social-links li:nth-child(3):before {
	background: url('../img/social-buttons.jpg') -45px top;
	top: 2px;
	left: -21px;
}
.boxcolor2016 .header .social-links li:nth-child(4):before {
	background: url('../img/social-buttons.jpg') -65px top;
	top: 2px;
	left: -22px;
}
.boxcolor2016 .header ul.social-links {
	position: absolute;
	bottom: 20px;
	left: 334px;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
.boxcolor2016 .header ul.social-links a {
        color: #000;
	font-size: 16px;
}

.modal {
	width: 400px;
	height: auto;
	padding: 20px 40px 20px 40px;
	position: fixed;
	z-index: 1000;
	top: 40%;
	left: 50%;
	margin-left: -200px;
	background: #009de0;
	display: none;
	color: #FFF;
	font-size: 14px;
}
.modal.active {
	display: block;
}
.modal .cross {
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 28px;
	cursor: pointer;
}
.modal p {
	text-align: center;
	font-size: 16px;
}
.modal .form-control {
	padding: 15px 0 5px 0;
}
.modal label {
	display: inline-block;
	width: 70px;
}
.modal input {
	width: 300px;
	padding: 5px;
}
.modal button {
	display: table;
	font-size: 16px;
	background: #FFF;
	border: none;
	text-transform: uppercase;
	padding: 5px 15px;
	cursor: pointer;
	margin: 0 auto;
}

.boxcolor2016 .top-menu {
	display: table;
	height: 38px;
	width: 1000px;
	margin: 14px auto 14px auto;
	background: #009de0;
	font-size: 13px;
	line-height: 38px;
	color: #FFF;
}
.boxcolor2016 .top-menu a {
	display: table-cell;
	text-align: center;
	color: #FFF;
}
.boxcolor2016 .top-menu .dev {
	display: table-cell;
	color: #FFF;
}

td {
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
}


ul {
list-style-type:disc;
list-style-position:inside;
}

/*    //////////////////////   LINKS   \\\\\\\\\\\\\\\\\\\\\\\\\\\\            */

a {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
text-decoration:none;
color:#2789f8;
}

a.menu:link, a.menu:visited {
font-family:Tahoma;
font-size:13px;
font-weight:normal;
color:#FFFFFF;
text-align:left;
text-decoration:none;
text-transform:lowercase;
padding-left:19px;
padding-right:16.5px;
white-space:nowrap;
}
a.menu:hover {
font-family:Tahoma;
font-size:13px;
font-weight:normal;
color:#0041AA;
text-align:left;
text-decoration:none;
text-transform:lowercase;
padding-left:19px;
padding-right:16.5px;
}

a.menu1:link, a.menu1:visited {
font-family:Tahoma;
font-size:14px;
font-weight:normal;
color:#FFFFFF;
text-align:center;
text-decoration:none;
display:inline-block;
width:234px;
height:67px;
background-image:url("/images/button_bottom.jpg");
background-repeat:no-repeat;
background-position:top left;
padding-top:12px;
}


div.my_menu2, div.my_menu2,
.my_menu2 {
text-align:left;
text-decoration:none;
display: block;
width:231px;
margin: 0;
margin-top:-28px;
position:relative;
padding-left: 0
}

.my_menu2 {
margin-top:-33px;
}


div.my_menu2, div.my_menu2 {
line-height: 31px;height:29px;font-family:Tahoma;
font-size:16px;
font-weight:normal;color: #1A3856;
}

.my_menu2_span {
background-image:url('/images/tit_blue.jpg');
background-repeat:no-repeat;
background-position: left top;
width:236px;
height:29px;
display: block;
position:absolute;
top:0px;
margin-left:-2px;
left:0px;
}


.my_menu2  a.linkmy_menu2:link,.my_menu2  a.linkmy_menu2:visited {
font-family:Tahoma;
font-size:16px;
font-weight:normal;
color: #1A3856;line-height: 31px;height:29px;
line-height: 29px;
}


/*
div.my_menu2, div.my_menu2,
a.my_menu2:link, a.my_menu2:visited {
text-align:left;
text-decoration:none;
display: block;
width:234px;
height:29px;
line-height: 29px;
background-image:url("/images/tit_blue.jpg");
background-repeat:no-repeat;
background-position:top left;
font-family:Tahoma;
font-size:16px;
font-weight:normal;
color: #1A3856;
margin: 0;
line-height: 31px;
padding-left: 0;
}*/

a.my_menu1:link, a.my_menu1:visited {
font-family:Tahoma;
font-size:14px;
font-weight:normal;
color:#FFFFFF;
text-align:center;
text-decoration:none;
display: block;
width:236px;
height:45px;
background-image:url("/images/btn_grey.jpg");
background-repeat:no-repeat;
background-position:top center;
padding-top:5px;
}



a.my_menu:link, a.my_menu:visited {
font-family:Tahoma;
font-size:14px;
font-weight:normal;
color:#FFFFFF;
text-align:center;
text-decoration:none;
display: inline-block;
width:234px;
height:66px;
background-image:url("/images/button_bottom2_.jpg");
background-repeat:no-repeat;
background-position:top center;
padding-top: 10px;
line-height: 20px;
}

a.menu1:hover {
font-family:Tahoma;
font-size:14px;
font-weight:normal;
color:#FFFFFF;
text-align:center;
text-decoration:none;
display:inline-block;
width:234px;
height:67px;
background-image:url("/images/button_bottom.jpg");
background-repeat:no-repeat;
background-position:top left;
padding-top:12px;
}

a.menu2:link, a.menu2:visited {
font-family:Tahoma;
font-size:14px;
font-weight:normal;
color:#FFFFFF;
text-align:center;
text-decoration:none;
display:inline-block;
width:208px;
height:52px;
background-image:url("/images/button_bottom1.jpg");
background-repeat:no-repeat;
background-position:top center;
padding-top:10px;
line-height:20px;
}


a.menu2_hover {
font-family:Tahoma;
font-size:14px;
font-weight:normal;
color:#FFFFFF;
text-align:center;
text-decoration:none;
display:inline-block;
width:208px;
height:42px;
background-image:url("/images/button_bottom1_.jpg");
background-repeat:no-repeat;
background-position:top center;
padding-top:10px;
}


a.menu2:hover {
font-family:Tahoma;
font-size:14px;
font-weight:normal;
color:#FFFFFF;
text-align:center;
text-decoration:none;
display:inline-block;
position:relative;
width:208px;
height:52px;
background-image:url('/images/button_bottom1_.jpg');
background-repeat:no-repeat;
line-height:20px;
background-position-y:center
}



a.menu3:link, a.menu3:visited {
font-family:Tahoma;
font-size:14px;
font-weight:normal;
color:#FFFFFF;
text-align:center;
text-decoration:none;
display:inline-block;
width:208px;
height:42px;
background-image:url("/images/button_bottom1_.jpg");
background-repeat:no-repeat;
background-position-y:center;
padding-top:10px;

}
a.menu3:hover {
font-family:Tahoma;
font-size:14px;
font-weight:normal;
color:#FFFFFF;
text-align:center;
text-decoration:none;
display:inline-block;
width:208px;
height:42px;
background-image:url("/images/button_bottom1_.jpg");
background-repeat:no-repeat;
background-position-y: center;
padding-top:10px;
}

a.menu4:link, a.menu4:visited {
font-family:Tahoma;
font-size:14px;
font-weight:normal;
color:#FFFFFF;
text-align:center;
text-decoration:none;
display:inline-block;
width:92px;
height:42px;
background-image:url("/images/index.jpg");
background-repeat:no-repeat;
background-position-y: center;
padding-top:10px;

}
a.menu4:hover {
font-family:Tahoma;
font-size:14px;
font-weight:normal;
color:#FFFFFF;
text-align:center;
text-decoration:none;
display:inline-block;
width:92px;
height:42px;
background-image:url("/images/index_hover.png");
background-repeat:no-repeat;
background-position-y: center;
padding-top:10px;
}

a.black_bold_14:link, a.black_bold_14:visited { 
font-family:Tahoma;
font-size:14px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

a.black_bold_14:hover {
font-family:Tahoma;
font-size:14px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

a.black_normal_14:link, a.black_normal_14:visited {
font-family:Tahoma;
font-size:14px;
color:#6f7072;
text-decoration:none;
font-weight:normal;
}

a.black_normal_14:hover {
font-family:Tahoma;
font-size:14px;
color:#6f7072;
text-decoration:none;
font-weight:normal;
}

a.black_normal_12:link, a.black_normal_12:visited {
font-family:Tahoma;
font-size:12px;
color:#000000;
text-decoration:none;
font-weight:normal;
text-decoration:underline;
}

a.black_normal_12:hover {
font-family:Tahoma;
font-size:12px;
color:#000000;
text-decoration:none;
font-weight:normal;
text-decoration:none;
}

a.icq:link, a.icq:visited {
font-family:Tahoma;
font-size:14px;
color:#000000;
text-decoration:none;
font-weight:normal;
}

a.icq:hover {
font-family:Tahoma;
font-size:14px;
color:#000000;
text-decoration:none;
font-weight:normal;
}

a.blue_bold_14:link, a.blue_bold_14:visited {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#2789f8;
text-decoration:none;
}
a.blue_bold_14:hover {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#2789f8;
text-decoration:underline;
}

a.blue_normal_12:link, a.blue_normal_12:visited {
font-family:Tahoma, Verdana, Arial, sans-serif;
font-size:12px;
font-weight:normal;
color:#7ea4cb;
text-decoration:none;
}

a.blue_normal_12:hover {
font-family:Tahoma, Verdana, Arial, sans-serif;
font-size:12px;
font-weight:normal;
color:#7ea4cb;
text-decoration:underline;
}


a.green_bold_12:link, a.green_bold_12:visited {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#2d8450;
text-decoration:none;
}
a.green_bold_12:hover {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#2d8450;
text-decoration:underline;
}

a.blue_bold_14:link, a.blue_bold_14:visited {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#0041AA;
text-decoration:none;
text-align:left;
}
a.blue_bold_14:hover {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#0041AA;
text-decoration:underline;
text-align:left;
}

a.grey_normal_14:link, a.grey_normal_14:visited {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#666666;
text-decoration:none;
text-align:left;
}
a.grey_normal_14:hover {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#666666;
text-decoration:underline;
text-align:left;
}

a.grey_normal_12:link, a.grey_normal_12:visited {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#707070;
text-decoration:none;
text-align:left;
}
a.grey_normal_12:hover {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
text-decoration:none;
text-align:left;
}

a.grey_normal1_12:link, a.grey_normal1_12:visited {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#707070;
text-decoration:none;
text-align:left;
}
a.grey_normal1_12:hover {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#244aa3;
text-decoration:none;
text-align:left;
}


a.grey_normal1_12.act_razdel_urovenj3 {
color:#3f7eff;
}



a.grey_bold_12:link, a.grey_bold_12:visited {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#0041AA;
text-decoration:none;
text-align:left;
}
a.grey_bold_12:hover {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#0041AA;
text-decoration:none;
text-align:left;
}

a.grey_bold_11:link, a.grey_bold_11:visited {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#707070;
white-space:nowrap;
text-decoration:none;
text-align:left;
}
a.grey_bold_11:hover {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
white-space:nowrap;
text-decoration:underline;
text-align:left;
}


a.grey_normal_11:link, a.grey_normal_11:visited {
font-family:Tahoma;
font-size:11px;
color:#6f7072;
text-decoration:none;
}
a.grey_normal_11:hover {
font-family:Tahoma;
font-size:11px;
color:#6f7072;
text-decoration:none;
}

a.black_normal_10:link, a.black_normal_10:visited {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#000000;
text-decoration:none;
}
a.black_normal_10:hover {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#000000;
text-decoration:underline;
}


a.button, a.button:link, a.button:visited,a.button:hover {
/*background-color: red;*/
background-position: center top;
font-family:Tahoma;
font-size:13px;
color:#FFFFFF;
text-align:center;
text-decoration:none;
display:block;
width:234px;
height:46px;
background-image:url("/images/pechat_button.jpg");
background-repeat:no-repeat;
padding-top:10px;
}


a.red_bold_12:link, a.red_bold_12:visited {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#8c564c;
text-decoration:underline;
text-align:left;
}
a.red_bold_12:hover {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#8c564c;
text-decoration:none;
text-align:left;
}

/*        //////////////        FONTS                 \\\\\\\\\\\\\\\\\\\\\\\\\\\\             */

p.adresa{
color:#707070;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:15px;
font-weight:bold;
line-height:20px;
margin:0;
padding:0 0 10px;
text-align:center;
position: relative;
}

.blue_normal_13_font {
font-family:Tahoma;
font-size:13px;
color:#3a2d8b;
text-decoration:none;
font-weight:bold;
}

.black_normal_14_font {
font-family:Tahoma;
font-size:14px;
color:#000000;
text-decoration:none;
font-weight:normal;
}

.black_normal_12_font {
font-family:Tahoma;
font-size:12px;
color:#272525;
text-decoration:none;
font-weight:normal;
text-align:left;
}

.white_normal_14_font {
font-family:Tahoma;
font-size:14px;
color:#FFFFFF;
text-decoration:none;
font-weight:normal;
}

.blue_bold_14_font {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#0041AA;
text-decoration:none;
text-align:left;
}

.grey_normal_14_font {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#666666;
text-decoration:none;
text-align:left;
}

.gray_normal_11_font {
font-family:Tahoma;
font-size:11px;
color:#6f7072;
text-decoration:none;
}

/*        //////////////        TABLE TD        \\\\\\\\\\\\\\\\\\\\\\\\\             */

.form {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#595A5C;
background-color:#2B2C2E;
border-left: 3px solid #B79414;
border-right:0;
border-bottom:0;
border-top:0;
height:20px;
line-height:1.5;
padding-left:3px;
padding-right:2px;
}

.submit {
}

/*        //////////////        TABLE TD        \\\\\\\\\\\\\\\\\\\\\\\\\             */

table.menu {

}
table.menu td {
padding-left:50px
}

table.left_menu {

}
table.left_menu td {
padding-left:10px;
border-bottom:1px solid #FBAEDA;
}
td.td_border {
  background: url("/images/border.jpg") center 55px no-repeat;
}

table.td_works td{
	vertical-align: top;
}
table.td_works td p{
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size: 14px;
line-height: 20px;
font-weight:normal;
color:#707070;
margin: 0;
padding: 0 10px;
}

table.tit_grey {
	margin: 20px 10px 20px 25px;
}

table.tit_grey_st {
	margin: 0;
}

table.tit_grey td.tit_grey, table.tit_grey_st  td.tit_grey {
  background: url("/images/tit_grey_bg.jpg") center top repeat-x;
  vertical-align: top;
  margin: 0 !important;
  padding: 0 !important;
}

table.tit_grey td
{
   padding-left: 10px; 
}

table.tit_grey td p, table.tit_grey_st td p{
color:#707070;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:13px;
line-height: 20px;
font-weight:normal;
margin: 0;
}

table.tit_grey td a.h1, table.tit_grey_st td a.h1{
color:#C62C22;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:16px;
line-height: 20px;
font-weight:normal;
border-bottom: 1px dotted #C62C22;
text-decoration: none;
}

table.tit_grey td a.h1:hover,
table.tit_grey_st td a.h1:hover
{
  border-bottom: none;
}


table.tit_grey_st td h2{
color:#C62C22;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:21px;
line-height: 28px;
margin: 0;
font-weight:normal;
}

td.tit_grey a.titgrey {
font-family:Tahoma !important;
font-size:16px !important;
font-weight:normal !important;
color: #1A3856 !important;
margin: 0 !important;
line-height: 31px !important;
text-align: left;
}



table.tit_grey_st td .data{
color:#2F6AAF;
font-family:Verdana,Arial,Helvetica,sans-serif;
line-height: 20px;
font-weight:bold;
text-decoration: none;
}
table.tit_grey_st td .data:hover{
text-decoration: underline;
}
td.tit_grey h1 {
color:#1A3856 !important;
font-family:Tahoma !important;
font-size:16px !important;
font-weight:normal !important;
line-height:31px !important;
margin:0 !important;
text-align:left;
}

td.news_row{
	padding-top:35px;
	padding-left:10px;
	padding-right:10px;
}
  
td.news_all{
	padding: 35px 10px 10px 10px;
	text-align: right;
}
td.st_all{
	padding: 8px 10px 10px 10px;
	text-align: right;
  background: url("/images/line.jpg") left bottom no-repeat;
}


td.st_all.no{
	text-align: right;
    background: none; 
}

.line_bottom_cont {
background: url('/images/line.jpg') no-repeat 260px bottom; 
}
.border_td_left {
background: url('/images/td_fon_border.gif') repeat-y right 0; 
}



td.news_row p{
color:#3789C2;
font-family:Tahoma;
font-size:11px;
font-weight:normal;
margin-bottom: -20px;
}

td.news_row p a{
color:#1A1B1F !important;
font-family:Tahoma !important;
font-size:11px !important;
font-weight:normal !important;
text-decoration:underline !important;
}
td.news_row p a:hover{
text-decoration:none;
}
td.news_all a{
color:#1A1B1F !important;
font-family:Tahoma !important;
font-size:10px !important;
font-weight:normal !important;
text-decoration:underline !important;
padding-left: 10px !important;
}

td.st_all a{
color:#707070 !important;
font-family:Tahoma !important;
font-size:11px !important;
font-weight:normal !important;
text-decoration:underline !important;
padding-left: 10px !important;
}
td.st_all a:hover{
text-decoration:none;
}
td.news_all a:hover{
text-decoration:none;
}
div.fl_l{
	float: left;
}
div.clear{
	clear:both;
}
table.b_menu td a{
	color:#2789F8;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	text-decoration:none;
}
table.b_menu td a:hover{
	text-decoration:underline;
}
table.b_menu td p{
	color:#2789F8;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	padding: 0 6px;
}
div.price{
	float: left;
    margin-top: 11px;
}
div.price p {
color:#ffffff;
font-family:Tahoma;
font-size:15px;
font-weight:bold;
line-height: 22px;
background: url("/images/price_bg.jpg") left bottom repeat-x;
    padding: 0 7px;
    margin: 0px;
}
div.price span{
font-size:10px;
}


a.more
{
  position: relative;
  top: 3px;
}
.td_works a.more {
    display: none !important;
}

.content2 p
{
  margin: 10px 0px !important;
}

.content2
{
  margin: 0 10px !important;
}

.more_news
{
  display: block;
  float: right;
}

.more_news img
{
  border: none;
}


table.tit_grey_st  td.tit_blue {
  background: url(/images/tit_blue_bg2.jpg) center top repeat-x;
  vertical-align: top;
  margin: 0 !important;
  padding: 0 !important;
}


td.tit_blue h1 {
color:#1A3856 !important;
font-family:Tahoma !important;
font-size:16px !important;
font-weight:normal !important;
line-height:31px !important;
margin:0 !important;
text-align:left;
}


table.slide_navigator td{
	padding: 15px 6px;
	vertical-align: middle;
}
a.btn_left, a.btn_right{
	color: #8B8C8D !important;
}

ul.slide, ul.slide li{
	display: none;
}


div.calc{
	width: 235px;
	height: 520px;
	margin-left: 25px;
}

div.calc div.calccontent{
  border: 1px solid #A3A3A3;
  padding: 10px 10px 0 10px;
}
div.calc div.calccontent h1 {
	color:#000000;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	margin: 0;
	padding: 0 0 19px 0;
}
.paper{
	width: 140px;
}
.paper_colors{
	width: 100px;
}
.size_3 {
	width: 70px;
}
.fnt{
	font: normal 11px Arial,Helvetica,sans-serif;
	height: 18px;
}

form{
	margin: 0;
	padding: 0;
}

p.captio{
	color:#000000;
	font: normal 11px/18px Arial,Helvetica,sans-serif;
	text-align: left;
	margin: 0;
	padding: 0;
}
p.format{
	color:#000000;
	font: normal 11px Arial,Helvetica,sans-serif;
	text-align: left;
	margin: 0;
	padding: 6px 0 0 0;
}

div.format1, div.format2, div.format3, div.a3, div.a4, div.a5, div.ro1, div.ro2, div.ro3{
	padding: 7px;
	margin-left: 5px;
}

#format1, #format2, #format3, #a3, #a4, #a5, #ro1, #ro2, #ro3{
	color:#000000;
	font: normal 11px Arial,Helvetica,sans-serif;
	border-bottom: 1px dashed #4B5E7C;
}

a.calc_price,
a.calc_price:hover{
	color: #465E7A;
	font: normal 12px Arial,Helvetica,sans-serif;
	border-bottom: 1px dotted #465E7A;
	padding: 0;
	margin: 0;
}
.calc_price{
	color: #465E7A;
	font: normal 24px Arial,Helvetica,sans-serif;
	text-align: right;
	padding: 10px 0;
	margin: 0;
}
#select_calc{
   width: 213px;
}

ul.map, ul.map ul
{
  list-style-position: outside;
}

input.perepl
{
  margin: 0px;
  position: relative;
  top: 4px;
}

.to_main
{
  position: absolute;
  left: 50%;
  height: 20px;
  width: 20px;
  margin: 0 0 0 -10px;
  z-index: 100;
  top: 193px;
}

#flash_content
{
  z-index: 10;
  background-image: url(/images/flash_bg.png);
  width: 980px;
  height: 157px;
  background-position: 1px 1px;
  background-repeat: no-repeat;
  background-color: rgb(223,227,230);  
}

.to_main a
{
  display: block;
  position: absolute;
  width: 400px;
  height: 150px;
  left: -480px;
  top: -160px;
  z-index: 100;
  background: url(/images/spacer.gif);
}

.bg_flash
{
  background: url(/images/pic3.jpg) right top;
  background-repeat: none;
  width: 433px;
  height: 82px;
  position: absolute;
  left: 67px;
  top: 0px;
}

img.fax
{
  /*padding-top: 15px;*/
}

td.icq
{
  padding-right: 7px; 
  /*padding-bottom: 3px;*/
}

.cont-info td
{
  vertical-align: bottom;
  text-align: left;
  padding-bottom: 2px;
  //padding-bottom: 0px;
}

.cont-info td.i
{
  vertical-align: top !important;
  padding-right:7px; 
}

.cont-info tr.last td
{
  padding-bottom: 6px;
}













/* NEW DESIGN  NEW DESIGN  NEW DESIGN  NEW DESIGN  NEW DESIGN  NEW DESIGN */ 



.titletable {
font:20px tahoma;
color:#ffffff;
height:57px;
/*float:left;*/
width:100%;
position:relative;
text-transform:uppercase;
}

.titletable.type1.vizitki {
margin-top:10px;
position:relative;
z-index:70;
}
.titletable.type1.vizitki span span {
padding-left:180px;
width:510px;
}



.titletable.type1  {
background:url('/images/title1_left.gif') no-repeat 0 0;
}
.titletable.type1 span {
background:url('/images/title1_right.gif') no-repeat right 0;
float:left;width:100%;
}
.titletable.type1 span span,  .titletable.type2 span span, .titletable.type3 span span{
position:relative;
left:14px;
top:10px;
background:none;
}

.titletable.type2  {
background:url('/images/title2_left.gif') no-repeat 0 0;
}
.titletable.type2 span {
background:url('/images/title2_right.gif') no-repeat right 0;
float:left;width:100%;
}
.titletable.type3  {
background:url('/images/title3_left.gif') no-repeat 0 0;
}
.titletable.type3 span {
background:url('/images/title3_right.gif') no-repeat right 0;
float:left;width:100%;
}
.titletable .icon2 {
position:absolute;
right:15px;
top:-28px;
background:url('/images/icon2.png') no-repeat 0 0;
width:130px;
height:84px;
}
.titletable .icon3 {
position:absolute;
right:15px;
top:-28px;
background:url('/images/icon3.png') no-repeat 0 0;
width:119px;
height:98px;
}
.titletable .icon1 {
position:absolute;
right:15px;
top:-8px;
background:url('/images/icon1.png') no-repeat 0 0;
width:120px;
height:54px;
}

.titletable.vizitki  .icon1 {
position:absolute;
left:15px;
top:-8px;
background:url('/images/icon11.png') no-repeat 0 0;
width:120px;
height:54px
}


.page_listing {
margin-top:15px;
}
.page_listing a:link,.page_listing a:visited  {
font:11px arial;
color:#8b8c8d;
}
.page_listing a:hover  {
font:11px arial;
color:#8b8c8d;
}
.page_listing img {
margin-left:5px;
margin-right:5px;
position:relative;
top:8px;
}

.border_td {
background: url('/images/border.gif') no-repeat center 15px;
height:30px;
}


.table_price {
border-collapse:collapse;
margin-top:10px;
float:left;
width:100%;
clear: both;
}


.table_price.vizitki {
border-collapse:collapse;
margin-top:10px;
float:none;
width:450px;
margin-bottom:15px;
position:relative;
z-index:100;
}

.table_price.vizitki.vizitki2 {
border-collapse:collapse;
margin-top:10px;
float:none;
width:395px;
margin-bottom:15px;
}



.table_price  td {
border:1px #a2a2a2 solid;
padding-left:5px;
padding-right:5px;
padding-top:2px;
padding-bottom:2px;
}

.table_price .title_tr {
background:#ede7d8;
}
.table_price .title_tr td {
text-align:center;
}

.table_price.vizitki .title_tr td {
text-align:left;
}
.table_price.vizitki  td {
font-size:11px;
}



.font15 {
font-size:14px;
}
.font15.type2f {
float:left;
margin-top:5px;
width: 100%;
}


.link_right.vizitki {
float:left;
width:200px;
text-align:left;
}



.link_right {
float:right;
width:200px;
position:relative;
margin-top:9px;
text-align:right;
}

.link_right a:link, .link_right a:visited, .link_right a:hover,
.link_right2 a:link, .link_right2 a:visited, .link_right2 a:hover {
color:#215096;
font:14px tahoma;
text-decoration:underline;
}


.link_right.allwork {
margin-top:24px;
width:100%;
}


/*    //////////////////////   LINKS   \\\\\\\\\\\\\\\\\\\\\\\\\\\\            */

.links_block {
float:left;
width:100%;
z-index:95;
position:relative;

}

.links_block a:link, .links_block a:visited {
margin-right:10px;
font:12px tahoma;
color:#ffffff;
float:left;
}
.links_block a:hover {     
margin-right:10px;
font:12px tahoma;
color:#ffffff;
float:left;
}
a.link_fon span {
background:url('/images/link_left.gif') no-repeat 0 0;
height:39px;
float:left;
}
a.link_fon span span {
background:url('/images/link_right.gif') no-repeat right 0;
height:35px;
float:left;
padding-top:4px;
padding-left:10px;
padding-right:10px;
text-align:center;
}
a.link_fon span:hover {
background:url('/images/link_left_hov.gif') no-repeat 0 0;
}
a.link_fon span span:hover {
background:url('/images/link_right_hov.gif') no-repeat right 0;
}



/*a.my_menu1:link, a.my_menu1:visited,
a.my_menu:link, a.my_menu:visited 
{
  background-position-y:center;
}*/


a.button.butt_big:link, a.button.butt_big:visited  {
font-size:15px;
height:48px;
padding-top:8px;
}
a.button.butt_big:hover {
font-size:15px;
height:48px;
padding-top:8px;
}


#safsdvig { 
	display:block;
	float:left;
	clear:right;
	
} 

.pech_menu table td img
{
  margin-top:5px;
}

.pech_menu table td p
{
  margin-top:1px;
  margin-bottom:5px;
}

.pech_menu table td
{
  padding: 2px 0px 2px;
  vertical-align: top;
}

.pech_menu table td a 
{
  font-size: 12px !important;
}







.nav_block {
width:720px;
margin-bottom:17px;
}
.nav_block ul {
width:720px;padding:0;
margin:0;
height:30px;
border-bottom:1px #c0d4ed solid;
/*margin-left:25px;*/
padding-bottom:2px;
}


.nav_block ul li { 
float:left;
list-style:none;
height:30px;
padding:0;
margin:0;
margin-left:1px;
}
.nav_block ul li.first,
.nav_block ul li.vk0 {
padding-left:17px;
}




.nav_block ul li a {
background: url(/images/link2_right.gif) no-repeat right 0;
height:30px;
float:left;
font-size:14px;
color:#618b93;
font-weight:bold;
cursor: pointer;
}


.nav_block ul li a span.fon_link {
background: url(/images/link2_left.gif) no-repeat 0 0;
height:24px;float:left;
padding-top:6px;
padding-left:14px;
padding-right:14px;
}

.vkl_psub82 ul li a span.fon_link
{
  padding-left: 13px !important;
  padding-right: 13px !important;
}



#main_page .nav_block ul{
  margin-left:17px;
}

/*#main_page .nav_block ul li a span.fon_link 
{
  /*padding-left:18px;.vk1
  padding-right:18px;
  min-width: 70px;
  text-align:center;  
}*/

#main_page .nav_block ul li a span.fon_link,
#page_car .nav_block ul li a span.fon_link,
#pagev_calendar .nav_block ul li a span.fon_link
{
padding-left:0px;
padding-right:0px;
width:116px;
font-size: 13px;
font-weight: bold;
text-transform: lowercase;
text-align:center;
line-height: 18px;
}

#pagev_calendar .nav_block ul li a span.fon_link
{
  width:136px !important;
}

#pagev_otkritki .nav_block ul li a span.fon_link
{
  width:110px !important;
  //width:130px !important;
  text-align:center !important;
}


#main_page .nav_block,
#page_car .nav_block
{
width: 740px;
}

#main_page .nav_block ul,
#page_car .nav_block ul
 {
width:724px;
}

.nav_block ul li.act a {
background: url(/images/link2_right_act.gif) no-repeat right 0;
height:33px;
color:#2e545b;
}
.nav_block ul li.act a span.fon_link {
background: url(/images/link2_left_act.gif) no-repeat 0 0;
height:27px;
padding-top:6px;
}
.nav_block ul li a:hover {
background: url(/images/link2_right_act.gif) no-repeat right 0;
height:33px;
color:#2e545b;
font-size: 14px;
}

.nav_block ul li a:hover  span.fon_link {
background: url(/images/link2_left_act.gif) no-repeat 0 0;
height:27px;
padding-top:6px;
}
.text_tubs {
padding-left:20px;
line-height:17px;
}
.text_tubs p {
margin-bottom:10px;
}
.vacansy_page p {
margin-bottom:23px;
}

.skidki_page {
padding-left:20px;
float:left;
width:730px;
padding-top:5px;
background: url(/images/skidki.jpg) no-repeat right 0;
min-height:220px;
}
.skidki_page p{
padding-right:230px;
}
p.color_red {
color:#b85656;
margin-bottom:30px;
}
a.link_color {
color:#cb7676;
font-size:14px;
font-weight:bold;
text-decoration:underline;
}
a.link_color img {
position:relative;
top:2px;
}
a.link_color:hover {
text-decoration:none;
}
h2 {
font-size:18px;
text-transform:uppercase;
font-weight:normal;
margin-bottom:20px;
}
h4 {
font-size:18px;
font-weight:normal;
margin-bottom:20px;
}
.o-nas_page {
padding-left:20px;
padding-top:15px;
font-size:11px;
background: url(/images/o-nas.jpg) no-repeat right 0;
}

.teh-pomosh_page {
font-size:11px;
background: url(/images/tp.jpg) no-repeat right 0;
}
.vacansii_page {
background: url(/images/vac.jpg) no-repeat right 7px;
}


.form_contact {
padding-top:38px;
float:left;
width:725px;
margin-bottom:10px;
}

.form_contact.vizitki {
padding-top:0px;
margin-top:20px;
float:left;
width:535px;
margin-bottom:10px;
}


.form_contact form {
padding-top:10px;
}

.form_contact  label{margin:0px;padding:0px;width:237px;float:left;position:relative;top:3px;padding-bottom:0px;padding-right:10px;}


.form_contact.vizitki {width:200px;}

.form_contact.vizitki  .input_text {
width:290px;
}


.form_contact  fieldset.sub label {width:360px}
.form_contact  fieldset.sub .check {
margin-lefT:-40px;
position:relative;
top:2px;
}



.form_contact.vizitki   fieldset.sub .check {
margin-lefT:-110px;
}

.form_contact.vizitki  fieldset.sub label {font-size:11px;width:420px}

.form_contact fieldset {
float:left;
width:720px;border:0px;margin:0px;padding:0px;
position:relative;
margin-bottom:5px;
}

.form_contact .input_text {
line-height:24px;
float:left;
position:relative;
color:#333333;
padding-left:5px;
width:445px;
height:24px;
}


.form_contact.vizitki  textarea {
width:290px;
}


.form_contact textarea {
padding-left:5px;
width:446px;
height:54px;float:left;

padding-top:5px;
padding-bottom:5px;
color:#333333;overflow: auto; 
}

.form_contact  fieldset.sub {
float:left;
width:720px;
position:relative;
margin-top:15px
}

.form_contact  .sub1 {
background: url('/images/sub1.gif') no-repeat 0 0;
position:absolute;
right:15px;
top:0px;
floaT:right;
width:89px;
height:19px;
cursor:pointer;
border:0px;
}

.form_contact.vizitki fieldset.sub {
float:left;
width:554px;
position:relative;
margin-top:15px
}


.anlist td
{
 padding: 10px 0px;
}


.oborudovanie_page
{
padding-left:20px;
padding-top:15px;
/*font-size:11px;*/
/*background: url(/images/bg_obor.png) no-repeat right 0;*/

}




.title_vizitki {
color:#202124;
font:18px arial narrow;
text-transform:uppercase;
font-weight:bold;
}
.min_width_vizitki1 {
padding-right:25px;
position:relative;
z-index:100;
}
.min_width_vizitki2 {
position:relative;
padding-bottom:40px;
}





.min_width_vizitki22 {
padding-right:90px;
padding-left:10px;
position:relative;
padding-bottom:40px;
text-align:justify;
margin-top:20px;
}

.icon_vizitki_6  {
position:absolute;
z-index:90;
right:-10px;
top:-26px;
background:url("/images/skidki.jpg") no-repeat 0 0;
width:217px;
height:227px;/*filter:expression(fixPNG(this));*/
display: none;
}


.icon_vizitki_shelk  {
position:absolute;
z-index:90;
left: 408px;
top:-36px;
background:url("/images/shelk.jpg") no-repeat 4px -5px;
width:360px;
height:555px;/*filter:expression(fixPNG(this));*/
display: none;
}

.viz_shelk
{
clear: both;
 line-height: 1.4em;
}


.box_vizitki_208
{
  padding-bottom: 0px !important;
}

.box_vizitki_187 {

}

.min_width_vizitki22 .form_contact {
margin-top:50px;
}








.icon_vizitki_1 {
position:absolute;
z-index:90;
left:434px;
top:-200px;
background:url('/images/1.png') no-repeat 0 0;
height:510px;/*filter:expression(fixPNG(this));*/
display: none;
}

.icon_vizitki_2  {
position:absolute;
z-index:90;
left: 425px;
top:-10px;
background:url('/images/2.png') no-repeat 0 0;
width:572px;
height:460px;/*filter:expression(fixPNG(this));*/
display: none;
}

.png {
/*filter:expression(fixPNG(this));*/
}


.icon_vizitki_3  {
position:absolute;
z-index:90;
left: 351px;
top:-36px;
background:url('/images/3.png') no-repeat 0 0;
width:399px;
height:491px;/*filter:expression(fixPNG(this));*/
display: none;
}

.icon_vizitki_4  {
position:absolute;
z-index:90;
left: 408px;
top:-26px;
background:url('/images/4.png') no-repeat 0 0;
width:352px;
height:294px;/*filter:expression(fixPNG(this));*/
display: none;
}

.text_vizitki {
position:relative;
z-index:100;
}

.text_vizitki_first {
position:relative;
z-index:100;
border:1px red solid;
}


.min_width_vizitki2 .font15 {
position:relative;
}
a.link_vizitka {
color:#215096;
font-size:14px;
/*position:absolute;*/
z-index:100;
right:-140px;
top:0px;
text-decoration:underline;
font-weight:normal;
}
a.link_vizitka:hover {
font-size:14px;
}

table.order_table_vizitki {
margin-top:12px;
}
table.order_table_vizitki td {
width:186px;
text-align:center;
padding-bottom:10px;
}
table.order_table_vizitki span {
float:right;
width:120px;
text-align:right;
padding-right:10px;
padding-top:5px;
}
table.order_table_vizitki span a {
font-size:11px;
}
table.order_table_vizitki p {
margin:0;
color:#aac6e7;
padding:0;
float:left;
width:40px;
left:-5px;
position:relative;
font-size:9px;
top:5px;
}

.red_text {
color:#ff0000;
}



.vizitki_cont {
padding-left:0px;float:left;width:720px;position:relative;
}


/*div.calc
{
  display:none;
}*/

.icon_calendar
{  
  position:absolute;
  z-index:90;
  right: 0px;
  top: -40px;
  height:459px;/*filter:expression(fixPNG(this));*/
  width:555px;  
  display: none;
}

.icon_calendar_192
{
  background:url('/images/kl1.png') no-repeat right 20px;
  
}

.icon_calendar_191
{
  background:url('/images/kl2.png') no-repeat 28px -35px;
  width:399px;
}

.icon_calendar_193
{
  background:url('/images/kl3.png') no-repeat right -55px;
  width:486px;
  
}

.icon_calendar_194
{
  background:url('/images/kl4.png') no-repeat 30px -30px;
  width:555px;
}

.icon_calendar_195
{
  background:url('/images/kl5.png') no-repeat 10px -40px;
  width:425px;
  top: -30px !important;
}


.icon_otkritki
{
  position:absolute;
  z-index:90;
  right: 0px;
  top: -30px;
  height:459px;/*filter:expression(fixPNG(this));*/
  width:440px;  
}


/*
.icon_otkritki_197,
.icon_otkritki_1
{
  background:url('/images/ot1.png') no-repeat right 30px;
}

.icon_otkritki_198
{
  background:url('/images/ot2.png') no-repeat right 30px;
}

.icon_otkritki_199
{
  background:url('/images/ot3.png') no-repeat right 30px;
}

.icon_otkritki_200
{
  background:url('/images/ot4.png') no-repeat right 30px;
}

.icon_otkritki_201
{
  background:url('/images/ot5.png') no-repeat right 30px;
}
*/


.box_calendar_192 .text_calendar,
.box_calendar .text_calendar
{

}


.box_calendar_192 .links_block
{
  margin-top: 10px;
}

.box_calendar
{
  padding-right: 10px !important;
}

.text_calendar
{

}


.otkritki_cont {
padding-left:0px;float:left;width:720px;position:relative;
}


.box_otkritki
{
  padding-right: 10px !important;
}

.text_otkritki
{

}


.box_otkritki_197 .text_otkritki
{
 
}

.box_otkritki_197 .text_otkritki
{

}

.box_otkritki_199 .text_otkritki
{
 
}

.box_otkritki_201 .text_otkritki
{

}

.box_calendar_192 .text_calendar {

}

.box_calendar_191 .text_calendar {
padding-bottom: 10px;
}

.box_calendar_193 .text_calendar {

}


.box_calendar_194 .text_calendar {

}

.box_calendar_195 .text_calendar {

}





.slider_block {
padding-left:15px;
margin-bottom:35px;
}
.slider_block .text_bottom_slider {
margin-top:15px;
}

.carusel_block {
background:url("/images/line-h.gif") no-repeat center 0;
float:left;
width:100%;
position:relative;
margin-top: 14px;
}
.carusel_block0 {
background:url("/images/line-h.gif") no-repeat center bottom;
padding:8px 0;
float:left;
width:100%;
position:relative
}
.photos_block {
background:url("/images/line-h.gif") no-repeat center bottom;
padding:8px 0;
position:Relative;
margin-bottom:80px;
margin-top:10px;
float:left;
width:100%;
}
.photos_block a {
margin-right:5px;
}
a.photos_1 {
margin-right:18px;
}
a.photos_2 {
margin-right:25px;
}
a.photos_3 {
margin-right:25px;
}
a.photos_5 {
margin-right:25px;
}
a.photos_6 {
margin-right:25px;
}
a.photos_7 {
margin-right:5px;
}
a.photos_9 {
margin-right:10px;
}
a.photos_10 {
margin-right:5px;
}
a.photos_11 {
margin-right:0px;
}


.photos_block a.all {
margin-right:0px;
position:absolute;
righT:0px;
bottom:-40px;
width:114px;
}


.calc_design div.calc
{
  width: 233px !important;
  margin-left: 0px !important;
} 

.calccontent
{
  height: 420px;
}

a img 
{
  border: none;
}







.text_content_urovenj3 {
padding: 40px 0 20px 0;
clear: both;
}
.text_content_urovenj3 h2 {
margin-bottom:13px;
color:#000000;
font-size:15px;
text-transform:none;
}
.text_content_urovenj3 .color_text {
color:#345073;
margin-bottom:38px;
}

.text_content_urovenj3 b
{
color:#4183BD;
}

a.grey_bold_11:hover {
color:#0041AA;
} 
.text_content_urovenj3 .pic {
margin:20px 15px 10px 0;
}
.text_content_urovenj3 .title_urovenj3 {
margin-bottom:18px;
color:#4183bd;
font-size:12px;
font-weight:bold;
text-transform:uppercase;
display:inline-block;
}
.text_content_urovenj3 .title_urovenj3_2 {
clear:both;
margin:35px 0 30px 0;
color:#4183bd;
font-size:20px;
text-transform:uppercase;
display:inline-block;
}
.text_content_urovenj3 h1 {
margin-bottom:31px;
color:#4183bd;
font-size:18px;
text-transform:uppercase;
font-weight:normal;
}

.text_content_urovenj3 .titletable  {
text-transform:none;
margin-bottom:18px;
}
 .titletable .icon_postpress_1 {
position:absolute;
right:5px;
top:-20px;
background:url('/images/ppress/1.png') no-repeat 0 0;
width:102px;
height:87px;
}


.line_urovenj {
float:left;
width:100%;
margin:15px 0 28px 0px; 
height:3px;
background:url('/images/line2.png') no-repeat 0 0;
position:relative;
}
.line_urovenj .icon_postpress_1 {
position:absolute;
right:0px;
top:-20px;
background:url('/images/ppress/2.png') no-repeat 0 0;
width:211px;
height:83px;
}


 .titletable .icon_postpress_2 {
position:absolute;
right:13px;
top:-24px;
background:url('/images/ppress/3.png') no-repeat 0 0;
width:133px;
height:93px;
}
.line_urovenj .icon_postpress_2 {
position:absolute;
right:0px;
top:-40px;
background:url('/images/ppress/4.png') no-repeat 0 0;
width:173px;
height:106px;
}


 .titletable .icon_postpress_3 {
position:absolute;
right:13px;
top:-24px;
background:url('/images/ppress/5.png') no-repeat 0 0;
width:117px;
height:85px;
}
.line_urovenj .icon_postpress_3 {
position:absolute;
right:0px;
top:-25px;
background:url('/images/ppress/6.png') no-repeat 0 0;
width:189px;
height:84px;
}

 .titletable .icon_postpress_4 {
position:absolute;
right:13px;
top:-23px;
background:url('/images/ppress/7.png') no-repeat 0 0;
width:97px;
height:88px;
}
.line_urovenj .icon_postpress_4 {
position:absolute;
right:0px;
top:-43px;
background:url('/images/ppress/8.png') no-repeat 0 0;
width:195px;
height:95px;
}



 .titletable .icon_postpress_5 {
position:absolute;
right:13px;
top:-23px;
background:url('/images/ppress/9.png') no-repeat 0 0;
width:65px;
height:96px;
}
.line_urovenj .icon_postpress_5 {
position:absolute;
right:20px;
top:-43px;
background:url('/images/ppress/10.png') no-repeat 0 0;
width:81px;
height:92px;
}



 .titletable .icon_postpress_6 {
position:absolute;
right:13px;
top:-39px;
background:url('/images/ppress/11.png') no-repeat 0 0;
width:97px;
height:97px;
}
.line_urovenj .icon_postpress_6 {
position:absolute;
right:0px;
top:-25px;
background:url('/images/ppress/12.png') no-repeat 0 0;
width:114px;
height:85px;
}

 .titletable .icon_postpress_7 {
position:absolute;
right:13px;
top:-55px;
background:url('/images/ppress/13.png') no-repeat 0 0;
width:72px;
height:121px;
}
.line_urovenj .icon_postpress_7 {
position:absolute;
right:0px;
top:-40px;
background:url('/images/ppress/14.png') no-repeat 0 0;
width:119px;
height:94px;
}


 .titletable .icon_postpress_8 {
position:absolute;
right:13px;
top:-20px;
background:url('/images/ppress/15.png') no-repeat 0 0;
width:84px;
height:83px;
}
.line_urovenj .icon_postpress_8 {
position:absolute;
right:0px;
top:-20px;
background:url('/images/ppress/16.png') no-repeat 0 0;
width:166px;
height:79px;
}

.color_content_text {
color:#4183bd;
}
ul.list_urovenj3  {
padding:0;
margin:0;
float:left;
width:100%;
margin-bottom:7px;
}

ul.list_urovenj3 li {
padding:0;
margin:0;
margin-bottom:6px;
float:left;
width:96%;
background:url('/images/fon_li.gif') no-repeat 0 5px;
padding-left:11px;
list-style: none outside; 
}


.line_urovenj.prepress {
margin-bottom:80px;
}


.line_urovenj.suv {
margin-bottom:80px;
}


.line_urovenj .icon_prepress_1 {
position:relative;
left:-10px;
top:-3px;
float:left;
background:url('/images/prpress/1.png') no-repeat 0 0;
width:119px;
height:71px;
margin-right:10px;
z-index:10;
}
.line_urovenj h1 {
float:left;
position:relative;
z-index:100;
top:8px;
}

.line_urovenj.suv h1 {
float:left;
position:absolute;
z-index:100;
top:28px;
}



.line_urovenj .icon_prepress_2 {
position:relative;
left:-5px;
top:-23px;
float:left;
background:url('/images/prpress/2.png') no-repeat 0 0;
width:119px;
height:98px;
margin-right:10px;
z-index:10;
}

.line_urovenj .icon_prepress_3 {
position:relative;
left:25px;
top:-43px;
float:left;
background:url('/images/prpress/4.png') no-repeat 0 0;
width:76px;
height:118px;
margin-right:40px;
z-index:10;
}


.line_urovenj .icon_prepress_4 {
position:relative;
left:25px;
top:-13px;
float:left;
background:url('/images/prpress/6.png') no-repeat 0 0;
width:124px;
height:76px;
margin-right:40px;
z-index:10;
}


.line_urovenj .icon_prepress_5 {
position:relative;
left:15px;
top:-13px;
float:left;
background:url('/images/prpress/8.png') no-repeat 0 0;
width:109px;
height:87px;
margin-right:30px;
z-index:10;
}


.line_urovenj .icon_prepress_6 {
position:relative;
left:15px;
top:-13px;
float:left;
background:url('/images/prpress/9.png') no-repeat 0 0;
width:103px;
height:80px;
margin-right:30px;
z-index:10;
}


.line_urovenj .icon_suv_1 {
position:relative;
float:right;
margin-right:8px;
top:-11px;
background:url('/images/suv/1.png') no-repeat 0 0;
width:118px;
height:54px;
z-index:10;
}
.line_urovenj .icon_suv_2 {
position:relative;
float:right;
top:-11px;
background:url('/images/suv/2.png') no-repeat 0 0;
width:120px;
height:54px;
z-index:10;
}
.line_urovenj .icon_suv_3 {
position:relative;
float:right;
margin-right:5px;
top:-11px;
background:url('/images/suv/4.png') no-repeat 0 0;
width:120px;
height:54px;
z-index:10;
}
.line_urovenj .icon_suv_4 {
position:relative;
float:right;
top:-11px;
background:url('/images/suv/3.png') no-repeat 0 0;
width:120px;
height:54px;
z-index:10;
}
.line_urovenj .icon_suv_5 {
position:relative;
float:right;
top:-11px;
background:url('/images/suv/5.png') no-repeat 0 0;
width:120px;
height:54px;
z-index:10;
}
.line_urovenj .icon_suv_6 {
position:relative;
float:right;
top:-11px;
background:url('/images/suv/6.png') no-repeat 0 0;
width:120px;
height:54px;
z-index:10;
}
.line_urovenj .icon_suv_7 {
position:relative;
float:right;
top:-11px;
background:url('/images/suv/7.png') no-repeat 0 0;
width:120px;
height:54px;
z-index:10;
}
.line_urovenj .icon_suv_8 {
position:relative;
float:right;
top:-11px;
background:url('/images/suv/8.png') no-repeat 0 0;
width:120px;
height:54px;
z-index:10;
}


.vkl_psub95
{
  margin-bottom: 27px;
}

.text_content_urovenj3 p
{
  margin: 25px 0px;
}

/* anthony`s styles */

.mainProduction img {
	transition: all 0.2s ease;
}
.mainProduction img:hover {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(99, 99, 255, 0.75);
	-moz-box-shadow:    0px 0px 10px 0px rgba(99, 99, 255, 0.75);
	box-shadow:         0px 0px 10px 0px rgba(99, 99, 255, 0.75);
}

.articlePic {
	display: inline-block;
	vertical-align: top;
	float: right;
	margin: 15px 14px 5px 20px;
}
.articlePic img {
	border-radius: 10px;
}

.box_magazine, .box_menu {
	position: relative;
}
.text_magazine, .text_menu {
	position: relative;
	z-index: 2;
}
.text_magazine b, .text_menu b {
	font-weight: normal;
}
.box_magazine_212 .text_magazine {
	
}
.text_magazine:after {
	position: absolute;
	z-index: -1;
}
/*
.box_magazine_212 .text_magazine:after {	
	right: -330px;
	top: -40px;
	content: url('../images/magazineCommon.jpg');
}
*/
.box_magazine_213 .text_magazine {
	
}
/*
.box_magazine_213 .text_magazine:after {
	z-index: -1;
	right: -280px;
	top: -30px;
	content: url('../images/magazineTravelling.jpg');
}
*/
.title_vizitki {
	position: relative;
	z-index: 2;
}
.box_magazine_214 .text_magazine {
	
}
/*
.box_magazine_214 .text_magazine:after {
	z-index: -1;
	right: -170px;
	top: -60px;
	content: url('../images/magazineGift.jpg');
}
.box_magazine_215 .text_magazine {
	/*width: 365px;*/
}
.box_magazine_215 .text_magazine:before {
	float: right;
    width: 400px;
    display: inline-block;
    vertical-align: top;
	content: url('../images/magazineKids.jpg');
}
*/
.box_magazine a.link_vizitka, .box_menu a.link_vizitka {
	/*position: absolute;*/
    float: right;
	top: auto;
	bottom: 0px !important;
	left: 360px;
	display: inline-block !important;
	text-decoration: none;
	color: #215096;
	border-bottom: 1px solid #98a8c7;
	width: 126px;
}

.box_menu_216 .text_menu {
	
}
.text_menu:after {
	position: absolute;
	z-index: -1;
}
/*
.box_menu_216 .text_menu:after {	
	right: -260px;
	top: -20px;
	content: url('../images/menuCommon.jpg');
}
*/
.box_menu_217 .text_menu {

}
/*
.box_menu_217 .text_menu:after {
	z-index: -1;
	right: -370px;
	top: -20px;
	content: url('../images/menuRestaurant.jpg');
}
*/
.box_menu_218 .text_menu {

}
/*
.box_menu_218 .text_menu:after {
	z-index: -1;
	right: -300px;
	top: -40px;
	content: url('../images/menuCafe.jpg');
}*/
.box_menu_219 .text_menu {

}
/*
.box_menu_219 .text_menu:after {
	z-index: -1;
	right: -380px;
	top: -40px;
	content: url('../images/menuBar.jpg');
}
*/
.priceTable {}
.priceTableHeader {
	height: 40px;
	padding: 10px 0 0 10px;
	font-family: Arial;
	font-weight: normal;
	font-size: 15px;
	color: #FFF;
	text-transform: uppercase;

	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

	
background: #00626b; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjI2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iIzVkYmFjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU5JSIgc3RvcC1jb2xvcj0iI2MxZTJlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg2JSIgc3RvcC1jb2xvcj0iI2Y1ZjlmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #00626b 0%, #5dbac4 31%, #c1e2e6 59%, #f5f9fa 86%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00626b), color-stop(31%,#5dbac4), color-stop(59%,#c1e2e6), color-stop(86%,#f5f9fa), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #00626b 0%,#5dbac4 31%,#c1e2e6 59%,#f5f9fa 86%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #00626b 0%,#5dbac4 31%,#c1e2e6 59%,#f5f9fa 86%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #00626b 0%,#5dbac4 31%,#c1e2e6 59%,#f5f9fa 86%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #00626b 0%,#5dbac4 31%,#c1e2e6 59%,#f5f9fa 86%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00626b', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */


}
.priceTableBody {
	padding: 0 10px 0 10px;
}

.menuBody .nav_block {
	display: table;
	position: relative;
	z-index: 3;
	border-bottom: 1px solid #c0d4ed;
}
.menuBody .nav_block ul {
	display: table-row;
	width: 100%;
	font-size: 0;
	padding: 0;	
}
.menuBody .nav_block li {
	display: table-cell; 
	position: relative;
	top: 3px;
	text-align: center;
	text-transform: lowercase;
	float: none;
	width: auto;	
	font-size: 13px;
	padding: 0 1px 0 2px;
}
.menuBody .nav_block a

 {
	/*transition: all 0.1s ease;*/	
	display: block;
	height: 24px;
	line-height: 24px;
	text-align: center;
	width: 100%;
	color: #618b93;
	font-size: 13px;
	text-align: center;
	background-image: none;
	border: 1px solid #abc5e7;

	-webkit-border-top-left-radius: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-topright: 9px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;

	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2Y0ZjhmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2NiZGJmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYmM1ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #f4f8fc 33%, #cbdbf0 70%, #abc5e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(33%,#f4f8fc), color-stop(70%,#cbdbf0), color-stop(100%,#abc5e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f8fc 33%,#cbdbf0 70%,#abc5e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f4f8fc 33%,#cbdbf0 70%,#abc5e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f4f8fc 33%,#cbdbf0 70%,#abc5e7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f4f8fc 33%,#cbdbf0 70%,#abc5e7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#abc5e7',GradientType=0 ); /* IE6-8 */
	
}
.menuBody .nav_block a:hover {
	font-size: 13px;
	background: #abc5e7; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FiYzVlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2Q2ZTJmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iI2Y4ZmFmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #abc5e7 0%, #d6e2f3 33%, #f8fafd 71%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abc5e7), color-stop(33%,#d6e2f3), color-stop(71%,#f8fafd), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #abc5e7 0%,#d6e2f3 33%,#f8fafd 71%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #abc5e7 0%,#d6e2f3 33%,#f8fafd 71%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #abc5e7 0%,#d6e2f3 33%,#f8fafd 71%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #abc5e7 0%,#d6e2f3 33%,#f8fafd 71%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abc5e7', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

.menuBody .nav_block li.act a, .menuBody .nav_block li a:hover {
	position: relative;
	top: 2px;
	display: block;
	height: 26px;
	line-height: 24px;
	text-align: center;
	width: 100%;
	color: #2e545b;
	text-align: center;
	background-image: none;
	border: 1px solid #abc5e7;
	border-bottom: 1px solid #FFF;

	-webkit-border-top-left-radius: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-topright: 9px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;

	background: #abc5e7; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FiYzVlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iI2Q2ZTJmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iI2Y4ZmFmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #abc5e7 0%, #d6e2f3 33%, #f8fafd 71%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abc5e7), color-stop(33%,#d6e2f3), color-stop(71%,#f8fafd), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #abc5e7 0%,#d6e2f3 33%,#f8fafd 71%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #abc5e7 0%,#d6e2f3 33%,#f8fafd 71%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #abc5e7 0%,#d6e2f3 33%,#f8fafd 71%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #abc5e7 0%,#d6e2f3 33%,#f8fafd 71%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abc5e7', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

}

.menuBody .nav_block ul li a span.fon_link, 
.menuBody .nav_block ul li.act a span.fon_link,
.menuBody .nav_block ul li.act a:hover span.fon_link,
.menuBody .nav_block ul li.act a:hover span.fon_link:hover
 {
	background-image: none;
	padding: 0;
	text-align: center;
	display: inline;
	float: none;
}



.content-pic-right {
    float: right;
}
.simple-text {
    clear: both; 
}