.about-us__wrapper {
  position: relative;
  padding-top: 90px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 524px;
    height: 539px;
    background-image: url('../img/colorful-cat.png');
    background-repeat:  no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.about-us__subtitle {
  position: relative;
  top: -4px;
  width: 834px;
  height: 187px;
  max-height: 187px;
  padding-top: 36px;
  padding-left: 139px;
  background-color: #00d3e1;
  font-family: ProximaNovaT-Thin, sans-serif;
  font-size: 76px;
  line-height: 50px;
  text-transform: uppercase;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 700px;
    height: 70px;
    background: #00aee1;
  }
}

.about-us__description {
  position: relative;
  top: -74px;
  left: 134px;
  width: 732px;
  height: 267px;
  max-height: 267px;
  padding: 90px 93px 15px 47px;
  background: #c8d5ff;
  font-size: 22px;
  line-height: 21px;
}

@media (max-width: $middleMonitor) {
  .about-us__wrapper {
    padding-top: 72px;

    &::after {
      width: 419.2px;
      height: 431.2px;
    }
  }

  .about-us__subtitle {
    top: -3.2px;
    width: 667.2px;
    height: 149.6px;
    max-height: 149.6px;
    padding-top: 28.8px;
    padding-left: 111.2px;
    font-size: 60.8px;
    line-height: 40px;

    &::after {
      width: 560px;
      height: 56px;
    }
  }

  .about-us__description {
    top: -59.2px;
    left: 107.2px;
    width: 585.6px;
    height: 213.6px;
    max-height: 213.6px;
    padding: 72px 74.4px 12px 37.6px;
    font-size: 17.6px;
    line-height: 16.8px;
  }
}

@media (max-width: $smallMonitor) {
  .about-us__wrapper {
    padding-top: 61.2px;

    &::after {
      width: 356.32px;
      height: 366.52px;
    }
  }

  .about-us__subtitle {
    top: -2.72px;
    width: 567.12px;
    height: 127.16px;
    max-height: 127.16px;
    padding-top: 24.48px;
    padding-left: 94.52px;
    font-size: 51.68px;
    line-height: 34px;

    &::after {
      width: 476px;
      height: 47.6px;
    }
  }

  .about-us__description {
    top: -50.32px;
    left: 91.12px;
    width: 497.76px;
    height: 181.56px;
    max-height: 181.56px;
    padding: 61.2px 63.24px 10.2px 31.96px;
    font-size: 14.96px;
    line-height: 14.28px;
  }
}

@media (max-width: $bigTablet) {
  .about-us__wrapper {
    width: 100%;
    padding-top: 70px;

    &::after {
      width: 449px;
      height: 459px;
      background-image: url('../img/colorful-cat--mobile.png');
    }
  }

  .about-us__subtitle {
    position: relative;
    top: 0;
    width: 605px;
    height: 150px;
    max-height: 150px;
    padding-top: 28px;
    padding-left: 43px;
    font-size: 53px;
    line-height: 70%;

    &::after {
      width: 570px;
      height: 60px;
    }
  }

  .about-us__description {
    position: relative;
    top: -60px;
    left: 35px;
    width: 590px;
    height: 220px;
    max-height: 267px;
    padding: 67px 75px 13px 37px;
    font-size: 20px;
    line-height: 19px;
  }
}