.about-us__wrapper {
  position: relative;
  padding-top: 90px;

  &::after {
    display: none;
    //content: "";
    //position: absolute;
    //top: 0;
    //right: 0;
    //width: 524px;
    //height: 539px;
    //background-image: url('../img/colorful-cat.png');
    //background-repeat:  no-repeat;
    //background-position: center;
    //background-size: cover;
  }
}

.about-us__subtitle {
  position: relative;
  top: -4px;
  width: 834px;
  height: 187px;
  padding-top: 36px;
  padding-left: 139px;
  background-color: #00d3e1;
  font-family: ProximaNovaT-Thin, sans-serif;
  font-size: 80px;
  line-height: 50px;
  text-transform: uppercase;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 700px;
    height: 70px;
    background: #00aee1;
  }
}

.about-us__description {
  position: relative;
  top: -74px;
  left: 134px;
  width: 1305px;
  height: 260px;
  padding: 95px 80px 0 80px;
  background: #c8d5ff;
  font-family: "Roboto Light", sans-serif;
  font-size: 25px;
  line-height: 120%;


  & strong {
    font-family: RobotoBold, sans-serif;
    font-weight: 700;
    letter-spacing: -0.6px;
  }

  & .about-us__description--span {
    letter-spacing: -0.02px;;
  }

  & .about-us__br--mobile {
    display: none;
  }
}

@media (max-width: $middleMonitor) {
  .about-us__wrapper {
    padding-top: 72px;

    &::after {
      width: 419.2px;
      height: 431.2px;
    }
  }

  .about-us__subtitle {
    top: -3.2px;
    width: 667.2px;
    height: 149.6px;
    padding-top: 28.8px;
    padding-left: 111.2px;
    font-size: 64px;

    &::after {
      width: 560px;
      height: 56px;
    }
  }

  .about-us__description {
    top: -59.2px;
    left: 107.2px;
    width: 1045px;
    height: 208px;
    padding: 75px 65px 0 66px;
    font-size: 20.03px;

    & strong {
      letter-spacing: -0.5px;
    }

    & .about-us__description--span {
      letter-spacing: -0.03px;;
    }
  }
}

@media (max-width: $smallMonitor) {
  .about-us__wrapper {
    padding-top: 61.2px;

    &::after {
      width: 356.32px;
      height: 366.52px;
    }
  }

  .about-us__subtitle {
    top: -2.72px;
    width: 567.12px;
    height: 127.16px;
    padding-top: 24.48px;
    padding-left: 94.52px;
    font-size: 53px;

    &::after {
      width: 476px;
      height: 47.6px;
    }
  }

  .about-us__description {
    top: -50.32px;
    left: 91.12px;
    width: 887px;
    height: 177px;
    padding: 62px 57px 0 57px;
    font-size: 16.97px;

    & strong {
      letter-spacing: -0.4px;
    }

    & .about-us__description--span {
      letter-spacing: -0.01px;;
    }
  }
}

@media (max-width: $bigTablet) {
  .about-us__wrapper {
    width: 100%;
    padding-top: 65px;
    //
    //&::after {
    //  width: 426.5px;
    //  height: 436px;
    //  background-image: url('../img/colorful-cat--mobile.png');
    //}
  }

  .about-us__subtitle {
    position: relative;
    top: 0;
    width: 605px;
    height: 127px;
    max-height: 142.5px;
    padding-top: 26.6px;
    padding-left: 42px;
    font-size: 65px;
    line-height: 70%;

    &::after {
      width: 571px;
      height: 35px;
    }
  }

  .about-us__description {
    top: -35px;
    left: 34px;
    width: 1046px;
    height: 237px;
    padding: 58px 83px 0 65px;
    font-size: 25px;
    line-height: 27px;

    & strong {
      letter-spacing: -0.2px;
    }

    & .about-us__description--span {
      letter-spacing: -0.6px;
    }

    & .about-us__br--mobile {
      display: block;
    }
  }
}

@media (max-width: $tablet) {
  .about-us__wrapper {
    padding-top: 51.2px;
  }

  .about-us__subtitle {
    width: 431px;
    height: 92px;
    padding-top: 20px;
    padding-left: 29px;
    font-size: 46px;

    &::after {
      width: 407px;
      height: 26px;
    }
  }

  .about-us__description {
    top: -26px;
    left: 24px;
    width: 742px;
    height: 169px;
    padding: 44px 58px 0 46px;
    font-size: 17.78px;
    line-height: 19.2px;

    & strong {
      letter-spacing: 0;
    }

    & .about-us__description--span {
      letter-spacing: -0.3px;
    }
  }
}

@media (max-width: $bigPhone) {
  .about-us__wrapper {
    padding-top: 25px;
  }

  .about-us__subtitle {
    width: 210px;
    height: 45px;
    padding-top: 10px;
    padding-left: 12px;
    font-size: 22px;

    &::after {
      width: 200px;
      height: 13px;
    }
  }

  .about-us__description {
    top: -13px;
    left: 10px;
    width: 363px;
    height: 84px;
    padding: 20px 29px 0 22px;
    font-size: 8.68px;
    line-height: 9.37px;
  }
}

@media (max-width: $smallPhone) {
  .about-us__wrapper {
    padding-top: 21.25px;
  }

  .about-us__subtitle {
    width: 180px;
    height: 39px;
    padding-top: 8px;
    padding-left: 12px;
    font-size: 19px;

    &::after {
      width: 170px;
      height: 12px;
    }
  }

  .about-us__description {
    top: -12px;
    left: 9.77px;
    width: 310px;
    height: 71px;
    padding: 17px 24px 0 19px;
    font-size: 7.41px;
    line-height: 8px;
  }
}