.clients__wrapper {
  position: relative;
  padding-bottom: 30px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1456px;
    height: 32px;
    transform: translateX(-50%);
    background: url("../img/line-bottom.png") no-repeat center;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  list-style: none;
}

.clients__item {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 340px;
  margin-bottom: 45px;
}

.clients__image {
  object-fit: contain;
}