.contacts {
  height: 1080px;
}

.contacts__title {
  width: 100%;
  margin-bottom: 150px;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__address {
  width: 470px;
}

.address__company-name {
  margin-bottom: 75px;
  font-family: RobotoBold, sans-serif;
  font-size: 25.51px;
  line-height: 18px;
}

.address__description {
  width: 360px;
  margin-bottom: 75px;
  font-family: Roboto, sans-serif;
  font-size: 19.84px;
  line-height: 28.35px;
}

.address__link {
  font-family: RobotoBold, sans-serif;
  font-size: 19.84px;
  color: #000000;
}

.contacts__map {
  width: 876px;
  height: 529px;
  box-shadow: 0 0 15px 5px rgba(1, 1, 1, 0.3);
}

.contacts__iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: $bigMonitor) {
  .contacts {
    height: 864px;
  }

  .contacts__title {
    margin-bottom: 120px;
  }

  .contacts__address {
    width: 376px;
  }

  .address__company-name {
    margin-bottom: 60px;
    font-size: 20.4px;
    line-height: 14.4px;
  }

  .address__description {
    width: 288px;
    margin-bottom: 60px;
    font-size: 15.8px;
    line-height: 22.68px;
  }

  .address__link {
    font-size: 15.87px;
  }

  .contacts__map {
    width: 700px;
    height: 423px;
  }
}