/*--------------header top--------------------*/

.page__header {
  top: 0;
  left: 50%;
  width: 100%;
  background: #ffffff;
  z-index: 10;
}

.header__top,
.header__bottom {
  border-bottom: 1px solid #a2a1a4;
}

.header__top .header__wrapper {
  display: flex;
  height: 150px;
}

.page__header .header__logo {
  margin-top: 22px;
  margin-right: 43px;
}

.logo__img {
  width: 258px;
  height: 81px;
}

.header__top-navigation {
  align-self: center;
}

.top-navigation__list {
  display: flex;
  margin-top: 10px;
  list-style: none;
}

.top-navigation__item {
  position: relative;
  padding: 0 23px;
  transition: .2s ease-out;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &::after {
      display: none;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%) rotate(20deg);
    right: 0;
    width: 2px;
    height: 22px;
    background-color: #74a9ec;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.top-navigation__link {
  font-family: "RobotoLight", sans-serif;
  text-transform: uppercase;
  font-size: 21.53px;
  line-height: 26.41px;
  text-decoration: none;
  color: #9c9c9c;
}

.header__top .header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-width: 280px;
  margin-left: auto;
}

.header-contacts__link {
  position: relative;
  padding-right: 37px;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  color: #868786;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.header-contacts__link--call {
  font-size: 29.21px;
  line-height: 33.22px;
  margin-top: 16px;
  margin-bottom: 10px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 25px;
    height: 40px;
    background-image: url('../img/link--call.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.header-contacts__link--whatsapp {
  font-size: 20px;
  line-height: 33.22px;

  &::before {
    content: "WhatsApp";
    position: absolute;
    bottom: -20px;
    right: 45px;
    width: 55px;
    height: 36px;
    font-family: RobotoLight, sans-serif;
    font-size: 14px;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 34px;
    height: 36px;
    background-image: url('../img/link--whatsapp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.header-contacts__link--write {
  font-size: 17px;
  line-height: 59.28px;

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 0;
    width: 26px;
    height: 24px;
    background-image: url('../img/link--write.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

/*--------------header bottom--------------------*/

.header__bottom .header__wrapper {
  display: flex;
  align-items: center;
  height: 67px;
}

.header__bottom .bottom-navigation {
  flex-grow: 1;
}

.bottom-navigation__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.bottom-navigation__item:last-child {
  margin-right: 55px;
}

.bottom-navigation__link {
  font-family: "Roboto", sans-serif;
  font-size: 23px;
  text-decoration: none;
  color: #868786;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.header__social {
  margin-left: auto;
}

.header-social__list {
  display: flex;
  justify-content: space-between;
  width: 122px;
  height: 36px;
  list-style: none;
}

.header-social__link {
  display: block;
  width: 36px;
  height: 36px;
  border: 1px solid #a2a1a4;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: .2s ease-out;

  &:hover,
  &:focus {
    background-color: #849c0c;
    transform: scale(1.2);
  }
}

.header-social__link--inst {
  background-image: url("../img/inst-ico.png");
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    background-image: url("../img/inst-ico-color.png");
  }
}

.header-social__link--fb {
  background-image: url("../img/f-ico.png");
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    background-image: url("../img/f-ico-color.png");
  }
}

.header-social__link--map {
  background-image: url("../img/log-ico.png");
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    background-image: url("../img/log-ico-color.png");
  }
}

@media (max-width: $middleMonitor) {
  .header__top .header__wrapper {
    height: 120px;
  }

  .page__header .header__logo {
    margin-top: 16.6px;
    margin-right: 34.4px;
  }

  .logo__img {
    width: 206.4px;
    height: 64.8px;
  }

  .top-navigation__list {
    margin-top: 8px;
  }

  .top-navigation__item {
    padding: 0 18.4px;

    &::after {
      width: 1.6px;
      height: 17.6px;
    }
  }

  .top-navigation__link {
    font-size: 17.22px;
  }

  .header__top .header-contacts {
    min-width: 224px;
  }

  .header-contacts__link {
    padding-right: 29.6px;
  }

  .header-contacts__link--call {
    font-size: 23.36px;
    line-height: 26.57px;
    margin-top: 12.8px;
    margin-bottom: 8px;

    &::after {
      width: 20px;
      height: 32px;
    }
  }

  .header-contacts__link--whatsapp {
    font-size: 16px;
    line-height: 26.57px;

    &::before {
      bottom: -16px;
      right: 36px;
      width: 44px;
      height: 28.8px;
      font-size: 11.2px;
    }

    &::after {
      width: 27.2px;
      height: 28.8px;
    }
  }

  .header-contacts__link--write {
    font-size: 13.6px;
    line-height: 47.42px;

    &::after {
      top: 10.4px;
      width: 20.8px;
      height: 19.2px;
    }
  }

  /*--------------header bottom--------------------*/

  .header__bottom .header__wrapper {
    height: 53.6px;
  }

  .bottom-navigation__item:last-child {
    margin-right: 44px;
  }

  .bottom-navigation__link {
    font-size: 18.4px;
  }

  .header-social__list {
    width: 97.6px;
    height: 28.8px;
  }

  .header-social__link {
    width: 28.8px;
    height: 28.8px;
  }
  .header-social__link--inst {
    background-size: 65%;
  }
}

@media (max-width: $smallMonitor) {
  .header__top .header__wrapper {
    height: 102px;
  }

  .page__header .header__logo {
    margin-top: 14.11px;
    margin-right: 29.24px;
  }

  .logo__img {
    width: 175.1px;
    height: 55.08px;
  }

  .top-navigation__list {
    margin-top: 6.8px;
  }

  .top-navigation__item {
    padding: 0 15.64px;

    &::after {
      width: 1.6px;
      height: 14.96px;
    }
  }

  .top-navigation__link {
    font-size: 14.6px;
  }

  .header__top .header-contacts {
    min-width: 190.4px;
  }

  .header-contacts__link {
    padding-right: 25.16px;
  }

  .header-contacts__link--call {
    font-size: 19.85px;
    line-height: 22.58px;
    margin-top: 10.088px;
    margin-bottom: 6.8px;

    &::after {
      width: 17px;
      height: 27.2px;
    }
  }

  .header-contacts__link--whatsapp {
    font-size: 13.6px;
    line-height: 22.58px;

    &::before {
      bottom: -13.6px;
      right: 30.6px;
      width: 37.4px;
      height: 24.48px;
      font-size: 9.52px;
    }

    &::after {
      width: 23.12px;
      height: 24.48px;
    }
  }

  .header-contacts__link--write {
    font-size: 11.56px;
    line-height: 40.30px;

    &::after {
      top: 8.84px;
      width: 16.68px;
      height: 16.32px;
    }
  }

  /*--------------header bottom--------------------*/

  .header__bottom .header__wrapper {
    height: 45.56px;
  }

  .bottom-navigation__item:last-child {
    margin-right: 37.4px;
  }

  .bottom-navigation__link {
    font-size: 15.64px;
  }

  .header-social__list {
    width: 82.96px;
    height: 24.48px;
  }

  .header-social__link {
    width: 24.48px;
    height: 24.48px;
  }

  .header-social__link--inst {
    background-size: 65%;
  }
}

@media (max-width: $bigTablet) {

  .page__header {
    position: static;
  }

  .header__top,
  .header__bottom {
    border-bottom: none;
  }

  .header__wrapper {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .header__top .header__wrapper {
    height: auto;
  }

  .page__header .header__logo {
    width: 100%;
    height: auto;
    margin-top: 157px;
    margin-bottom: 320px;
    margin-right: 0;
  }

  .logo__img {
    width: 100%;
    height: auto;
  }

  .header__top-navigation {
    position: absolute;
    top: 544px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    align-self: center;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -22px;
      width: 100%;
      height: 41px;
      background: url("../img/line-bottom-mobile.png") no-repeat center;
      background-size: cover;
      z-index: 2;
    }

    &::after {
      top: auto;
      bottom: -21px;
    }
  }

  .top-navigation__list {
    position: relative;
    justify-content: space-around;
    height: 117px;
    margin-top: 0;
    list-style: none;
    z-index: 3;
  }

  .top-navigation__item {
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: .2s ease-out;

    &::after {
      height: 27px;
    }
  }

  .top-navigation__link {
    font-size: 28.75px;
    line-height: 35.27px;
  }

  .header__top .header-contacts {
    position: relative;
    width: 100%;
    margin-left: 0;
    padding-bottom: 70px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 1073px;
      height: 41px;
      background: url("../img/line-bottom-mobile.png") no-repeat center;
      background-size: cover;
    }
  }

  .header-contacts__link {
    position: relative;
    padding-right: 130px;
    width: 100%;
    text-align: right;
  }

  .header-contacts__link--call {
    font-size: 88.79px;
    line-height: 101px;
    margin-top: 0;
    margin-bottom: 10px; //?

    &::after {
      width: 71px;
      height: 113px;
      background-image: url('../img/link--call-mobile.png');
    }
  }

  .header-contacts__link--whatsapp {
    font-size: 66.7px;
    line-height: 109px;

    &::before {
      bottom: 20px;
      right: 140px;
      width: 136px;
      height: 36px;
      font-size: 32px;
    }

    &::after {
      top: 18px;
      right: 0;
      width: 80px;
      height: 85px;
      background-image: url('../img/link--whatsapp-mobile.png');
    }
  }

  .header-contacts__link--write {
    display: none;
  }

  /*--------------header bottom--------------------*/

  .header__bottom .header__wrapper {
    display: block;
    height: auto;
  }

  .bottom-navigation__list {
    display: block;
    width: 100%;
    margin-top: 42px;
  }

  .bottom-navigation__item {
    text-align: center;
    margin-bottom: 55px;
  }

  .bottom-navigation__item:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  .bottom-navigation__link {
    font-family: RobotoLight, sans-serif;
    font-size: 57.83px;
    line-height: 36.14px;
    text-decoration: none;
    color: #1e1e1c;
    text-align: center;

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  .header__social {
    position: absolute;
    top: 17px;
    left: 106px;
  }

  .header-social__list {
    width: 212px;
    height: 60px;
  }

  .header-social__link {
    width: 60px;
    height: 60px;
  }

  .header-social__link--fb {
    background-size: auto 33px;
  }

  .header-social__link--map {
    background-size: auto 40px;
  }
}








