.introduction {
  background-color: #00d1e0;
  margin-top: 82px;
}

.introduction__wrapper {
  position: relative;
  height: 767px;

  &::before {
    content: "";
    position: absolute;
    top: -100px;
    left: -207px;
    width: 778px;
    height: 778px;
    background-image: url('../img/introduction-bg-desctop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.introduction__subtitle {
  position: absolute;
  top: 300px;
  left: 500px;
  font-family: ProximaNovaT-Thin, sans-serif;
  font-size: 63.75px;
  line-height: 41.44px;
}

.introduction__subtitle--span {
  position: absolute;
  top: 70px;
  left: 110px;
}

.introduction__description {
  position: absolute;
  top: 470px;
  left: 615px;
  width: 575px;
  font-family: MyriadProLight, sans-serif;
  font-size: 30.89px;
  line-height: 35.47px;

  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: -250px;
    width: 278px;
    height: 105px;
    background-image: url('../img/introduction-sign.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: $bigMonitor) {
  .introduction {
    margin-top: 65.6px;
  }

  .introduction__wrapper {
    height: 613.6px;

    &::before {
      top: -80px;
      left: -165.6px;
      width: 622.4px;
      height: 622.4px;
    }
  }

  .introduction__subtitle {
    top: 240px;
    left: 400px;
    font-size: 51px;
    line-height: 33.15px;
  }

  .introduction__subtitle--span {
    top: 56px;
    left: 88px;
  }

  .introduction__description {
    top: 376px;
    left: 492px;
    width: 460px;
    font-size: 24.71px;
    line-height: 28.37px;

    &::after {
      bottom: -16px;
      right: -200px;
      width: 222.4px;
      height: 84px;
    }
  }
}

@media (max-width: $smallMonitor) {
  .introduction {
    margin-top: 55.76px;
  }

  .introduction__wrapper {
    height: 521.56px;

    &::before {
      top: -68px;
      left: -140.76px;
      width: 529.04px;
      height: 529.04px;
    }
  }

  .introduction__subtitle {
    top: 204px;
    left: 340px;
    font-size: 43.35px;
    line-height: 27.17px;
  }

  .introduction__subtitle--span {
    top: 47.6px;
    left: 74.8px;
  }

  .introduction__description {
    top: 319px;
    left: 418.2px;
    width: 391px;
    font-size: 21px;
    line-height: 24.1px;

    &::after {
      bottom: -13.6px;
      right: -170px;
      width: 189px;
      height: 71.4px;
    }
  }
}