.production {
  position: relative;
  box-sizing: content-box;
}

.production__title {
  margin-bottom: 70px;
}

.production__list {
  position: relative;
  display: flex;
  margin-bottom: 110px;
  list-style: none;
  overflow: hidden;
  box-sizing: content-box;
}

.slider__item {
  min-width: 470px;
  height: 318px;
  margin-right: 7px;
}

.production__link {
  position: relative;
  text-decoration: none;
}

.production__description {
  position: absolute;
  bottom: 46px;
  left: 21px;
  font-family: Roboto, sans-serif;
  font-size: 16.4px;
  color: #ffffff;
}

.production__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__button {
  position: absolute;
  bottom: 140px;
  border: none;
  width: 50px;
  height: 50px;
  background: rgba(1, 1, 1, 0.5);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: .3s ease;

  &:hover,
  &:hover {
    background: rgba(1, 1, 1, 0.9);
    transform: scale(1.2);
    opacity: 0.9;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 25px;
    background: url("../img/white-arrow-21.png") no-repeat center;
    background-size: cover;
  }
}

.slider__button--left {
  left: 40px;
}

.slider__button--right {
  right: 40px;

  &::before {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

@media (max-width: $bigMonitor) {
  .production__title {
    margin-bottom: 56px;
  }

  .production__list {
    margin-bottom: 88px;
  }

  .slider__item {
    min-width: 376px;
    height: 254.4px;
    margin-right: 6px;
  }

  .production__description {
    bottom: 36.8px;
    left: 16.8px;
    font-size: 13.12px;
  }

  .slider__button {
    bottom: 89.6px;
    width: 40px;
    height: 40px;

    &::before {
      width: 40px;
      height: 20px;
    }
  }

  .slider__button--left {
    left: 32px;
  }

  .slider__button--right {
    right: 32px;
  }
}

@media (max-width: $smallMonitor) {
  .production__title {
    margin-bottom: 47.6px;
  }

  .production__list {
    margin-bottom: 74.8px;
  }

  .slider__item {
    min-width: 319.6px;
    height: 216.24px;
    margin-right: 5.1px;
  }

  .production__description {
    bottom: 31.28px;
    left: 14.28px;
    font-size: 11.15px;
  }

  .slider__button {
    bottom: 76.16px;
    width: 34px;
    height: 34px;

    &::before {
      width: 34px;
      height: 17px;
    }
  }

  .slider__button--left {
    left: 27.2px;
  }

  .slider__button--right {
    right: 27.2px;
  }
}




















